env
__pycache__
.env
data_admin
data_kafka
data_redis
data_pg
monitor/grafana
monitor/prometheus/data
images
notebooks/img_samples
dataset
training_data
text
workers/kafka_to_pg_logs.sql
notebooks/**/wandb/**